* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  height: 100%;
}

.container {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  padding-bottom: 100px;
}

 