
footer {
    height: 50px;
    text-align: center;
    margin-top: 10px;
}

.contact {
    background-color: yellow;
    
}

#contact-section {
    height: 35vh;
    z-index: -1;
    background-color: #11999E;
    display: block;
}