
/************HEADER******************/
header {
    background-color: #40514E;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    z-index: 5;
}

/**************** NAVBAR *******************/

.navbar {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    background-color: #40514E;
    padding: 0;
    margin-right: 50px;
    text-transform: uppercase;
    justify-content: flex-start;
}

.navbar-brand {
    font-family: 'Marck Script', cursive;
    font-size: 2.7rem;
    padding-top: 0;
    padding-bottom: 0;
    color: #fff;
    font-weight: 400;
    align-self: center;
    margin-right: auto;
    padding-left: 10px;
    text-transform: none;
}

.navbar-brand:hover {
    color:#fff;
}

.nav-link {
    cursor: pointer;
    color: #fff;
    /* align-self: center; */
}

.navbar p {
    margin-bottom: 0;
    margin-left: 8px;
    margin-right: 8px;
}

.navbar-toggler {
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
    background-color: black;
    line-height: 1.5;
}

.navbar-toggler i {
    padding-left: 6px;
}



/***********ABOUT ********************/

#about-section {
    background-color: #E4F9F5;
    height: 100vh;
    z-index: -1;
    display: block;
    padding-top: 1%;
}

.about {
    background-color: #11999E;
    height: 500px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
    margin-right: -10px;  
}

.profile-pic {
    background-color: #E4F9F5;
    height: 500px;
    display: flex;
    justify-content: center;
    background: white;
    z-index: 1;
    margin-left: -10px;
}

.intro-text {
    font-style: italic;
    font-weight: 400;
    color: #fff;
}

.intro-wrapper {
    margin-left: 50px;
    margin-right: 30px;
    margin-top: 50px;
    margin-bottom: 200px;
}

.pic {
    width: 400px;
    height: 400px;
    align-self: center;
    border: solid 4px #30E3CA;
    border-radius: 200px;
}

.i-name {
    font-size: 4rem;
    padding-bottom: 30px;
    color: #fff;
}

.i-title {
    height: 50px;
    overflow: hidden;
}

.i-title-item {
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: #1100ff;
    /* background-color: #ff5e00; */
    background-color: #11999E;
    display: flex;
    align-items: center;
}

.i-title-wrapper {
    height: 100%;
    animation: move 15s ease-in-out infinite alternate;
}

@keyframes move {
    25% {
        transform: translateY(-200px);
    }
    50% {
        tranform: translateY(-350px);
    }
    75% {
        tranform: translateY(-300px);
    }
    100% {
        tranform: translateY(-350px);
    }
}