
#project-section {
    height: 100vh;
    z-index: -1;
    display: block;
}

.projects {
    background-color: red;
}

.project {
    height: 400px;
    width: 400px;
    background-color: blueviolet;
}

.resume {
    background-color: greenyellow;
    height: 100vh;
}